#
# This file is part of the AzerothCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#

########################################
# AzerothShard module configuration
########################################

#
# Difference between the position level and the player level to disable the reward
# default: 0 (disabled)
#

ChallengeMode.noReward.deltaLevelHigher = 0
ChallengeMode.noReward.deltaLevelLower = 0

#
# Position levels to start checking for the difference between the position and the player level
# default: 0 (disabled)
#

ChallengeMode.noReward.startLevelHigher = 0
ChallengeMode.noReward.startLevelLower = 0
